/*

Vanilla Template

https://templatemo.com/tm-526-vanilla

*/

p {
  font-size: 15px;
  line-height: 25px;
}

section {
  padding: 25px 0 35px;
  background: #fff;
}
html{
overflow-x: hidden;
}
body { 
  position: relative; /* we need this for the scrollspy */ 
  font-size: 14px;
  background-color: black;
  
}

a { color: #3CC; }

a:hover { color: #FF0; }

/*----------
  NAV
----------*/

.fixed-side-navbar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99999;
  margin-top: -100px;
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.fixed-side-navbar:hover {
  background: transparent;
}
.fixed-side-navbar:hover .nav > li > a > span {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 12px;
  border-radius: 15px;
}
.fixed-side-navbar .nav > li a.active {
  background-color: transparent;
  color: black;
}
.fixed-side-navbar .nav > li a.active:after {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.fixed-side-navbar .nav > li a.active:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
}
.nav>li {
  position: relative;
  display: block;
}
.fixed-side-navbar .nav > li a {
  color: #fff;
  min-height: 32px;
  background: transparent;
  padding: 5px 45px 5px 25px;
  border-right: none;
}
.fixed-side-navbar .nav > li a span {
  display: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.fixed-side-navbar .nav > li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.75);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.fixed-side-navbar .nav > li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: black;
  boder-right: 0;
}
.fixed-side-navbar .nav > li a:hover > span {
  color: black;
  display: block;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}


.primary-button a {
  display: inline-block;
  background-color: #f5bf41;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}


.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  
}

/*---------------MY STUFF --------------------------------------------------------*/
.container{
     position:relative;
    height:100%;
    min-height:100%;
    width:100%;
    z-index:1000;
}
#foreground{
  position: relative;
  z-index:99;
}
#our-story{
  position: relative;
  top: 50px;
  z-index: -99;
}
#portfolio{
  position: relative;
  top: 10px;
  z-index: 99;
}
#a{
  position:fixed;
  top:0;
  z-index:-99;
}

#b{
 margin-top: 10%;
}
.yearbook p{
  margin: auto;
  margin-top: 5vh;
  position: relative;
  top:0vh;
  left:-18vw;
  font-size: 21em;
  font-weight: 900;
  color: #ffffff3d;
}
#skeet{
  padding-bottom: 8vh;
}
#theboys{
  width: 80%;
  margin: auto;
  margin-top: -10%;
  margin-bottom: 8vh;
}
.contactSquare{
  background-color: rgb(241, 241, 241);
  color: #080808;
  font-weight: 600;
  margin: auto;
  width: 100%;
  border-radius: 3px;
  text-align: center;
}
.contactSquare2{
  background-color: rgb(241, 241, 241);
  color: #080808;
  font-weight: 500;
  margin: auto;
  width: 100%;
  border-radius: 3px;
  text-align: left;
  padding: 20px;
}

#round{
  border-radius: 10px;
}

/* preloader ------- */

.spinner-wrapper{
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  background-color: #1a1a1a;
  z-index: 9999;
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto; 
}

#bust{
  -webkit-animation: spin5 1s infinite linear;
          animation: spin5 1s infinite linear;
}
#smallen{
  height: 80px;
}
/**===== circle5 =====*/
#circle5 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 4px #dadada solid;
  border-top: 4px #FFC845 solid;
  border-right: 4px #4E008E solid;
  border-bottom: 4px #FFC845 solid;
  border-radius: 50%;
  -webkit-animation: spin5 1s infinite linear;
          animation: spin5 1s infinite linear;
}

@-webkit-keyframes spin5 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spin5 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
/** END of circle5 */
/*--------------- END PRELOAD -----------*/
#chapter{
  height: 120px;
}

.stroke{
  margin:auto;
  margin-top: -15px;
  margin-left: -20px;
 /*  background-image: url(../img/mu.png);
  height: 150px;
  width: 100%;
  
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;

  /*text-align: center;
  vertical-align: middle;
  line-height: 500px;       /* The same as your div height */ 
}
/*SCROLLBAR CONTENT--------------------------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b3b3b3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(39, 39, 39);
}
/*-------END SCROLLBAR CONTENT--------------------------------------------------------*/

.baner-content {
  padding-top: 30vh;
  text-align: center;
  background-image: url(../img/athens.jpg);
  
}

.baner-content h1 {
  margin-top: 0px;
  font-size: 128px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-shadow: 1px 1px 15px #161616;
}

.baner-content em {
  color: #FFC845;
  font-weight: 900;
  font-style: normal;
  text-shadow: #232323;
}

.baner-content span {
  display: inline-block;
  margin-top: -20px;
  font-weight: 600;
  font-size: 48px;
  color: #fff;
  text-shadow: #232323;
}

.baner-content .primary-button {
  margin-top: 15px;
}



.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  /*background-image: url(../img/2nd-section.jpg);*/
  background-image: url(../img/mts.jpg);
  min-height: 100vh;
  background-size: cover;
  font-family: "inter";
  position: sticky;
  top:0px;
  z-index: -99; 
}

.stick{
  position: sticky;
  top:0px;
  z-index: 1;
}

.service-content .left-text h4 {
  color: rgb(214, 214, 214);
}

h4, .h4 {
  font-size: 38px;
  font-weight: 600;
  font-family: "lazer";
  letter-spacing: 20px;
  text-shadow: 0.2px 2px 10px #1616163f;
}

h3, .h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "inter";
}

.service-content .left-text .line-dec {
  width: 60%;
  height: 3px;
  background-color: #EF3340;
  margin: 20px 0px 20px 0px;
}

.service-content .left-text p {
  color: #fff;
  font-family: "interMed";
}

.service-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
  font-family: "interMed";
}

.service-content .left-text ul li {
  margin: 15px 0px;
  font-weight: 600;
  color: #fff;
  font-family: "interMed";
}

.service-content .left-text .primary-button {
  margin: 30px 0px;
}

.service-content .service-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  border-radius: 15px;
}

.service-content .service-item .line-dec {
  width: 30%;
  height: 2px;
  background-color: #EF3340;
  margin: 20px auto 15px auto;
}

@font-face {
  font-family: "interBold";
  src: url("../fonts/inter.woff");
}

@font-face {
  font-family: "interMed";
  src: url("../fonts/interMed.woff");
}

@font-face {
  font-family: "lazer";
  src: url("../fonts/Lazer84.ttf");
}


.projects-content {
  padding-top: 30vh;
  text-align: center;
  background-image: url(../img/athens.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-size: 700vmin;
  position: relative;
  z-index: 99;
}

.projects-content .item img {
  width: 100%;
}

.projects-content .item {
  margin: 15px;
}

.projects-content .item .text-content {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

.projects-content .item .text-content h4 {
  margin-top: 0px;
  font-size: 19px;
  font-weight: 600;
}

.projects-content .item .text-content span {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  color: #753BBD;
}

.owl-pagination {
  margin-top: 40px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}


.tabs-content {
  /*padding-left: 15px;
  background-image: url(../img/3rd-section.jpg);
  background-color: #11111173;
  padding-right: 15px;*/
  padding-top: 8vh;
  background-attachment: fixed;
  min-height: 100vh;
  background-size: 100%;
  background-position: center center;
  
}

section {
  background-color: transparent;
  padding-bottom: 15px;
}

.wrapper {
  text-align: center;
}

.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.tabs a {
  display:block;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
  font-size: 14px;
  font-weight: 700;
  padding:10px 15px;
  border:4px solid #fff;
}

.tabs a:hover {
  color: #753BBD;
}

.tabs .active {
  border:4px solid #753BBD;
}

.tabgroup div  {

}

.tabgroup p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 25px;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}


.contact-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16vh;
  background-image: url(../img/pat7.jpg);
  background-size: 250vmin;
  position: relative;
  z-index: 99;
}



.contact-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 25px;
  margin-bottom: 30px;
}

#contact input {
  border-radius: 3px;
  padding-left: 15px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#contact textarea {
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  margin-bottom: 25px;
}

#contact button {
  display: inline-block;
  background-color: #753BBD;
  padding: 15px 24px;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.map {
  margin-bottom: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
  border-radius: 8px;
}



footer {
  text-align: center;
  background-color: #282b2f;
  padding: 70px 0px;
  position: relative;
  z-index: 99;
}

footer .primary-button {
  margin-bottom: 30px;
}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0px 4px;
}

footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #753BBD;
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}

footer ul li a:hover {
  color: #282b2f;
  background-color: #ff8e43;
}

footer p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

footer em {
  color: #ff8e43;
  font-weight: 600;
  font-style: normal;
}
#block{
display:hidden;
  background-color: black;
  z-index: 999;
  overflow: hidden;
}
@media (max-width: 600px){
  #block{
   display: block; 
  }
  body{
    display:hidden;
  }
}
@media (max-width: 767px){

  html{
    overflow-x: hidden;
  }
  
  .service-content{
   background-size: contain; 
  }

  .yearbook p{
    font-size: 4em;
    position: relative;
    top:0px;
    left:5%;
    margin: auto;
  }

  #skeet{
    margin-top: -10%;
  }
  #story{
    height: 200%;
  }

  #chapter{
    max-width: 70%;
    height: auto;
  }
  
  .baner-content {
    padding-top: 30vh;
  }

  .baner-content h1 {
    font-size: 64px;
  }

  .baner-content em {
  }

  .baner-content span {
    font-size: 24px;
  }

  .baner-content .primary-button {
    margin-top: 15px;
  }

  .service-content {
    padding-top: 5vh;
    text-align: center;
  }

  .service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: #753BBD;
    margin: 20px auto 20px auto;
  }

  .service-content .left-text ul {
    text-align: left;
  }

  .service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* LIGHT BOX */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
